menu "Network Configuration"

	config WAIT_TIME
		int "Wait time in ms for connection"
		default 20000

	config SCAN_MAX
		int "Max number of network in a scan"
		default 5

	config MAC_ADDR_SIZE
	       int "MAC address size"
	       default 6
endmenu
