menu "Networks Registration"

	config NETWORK_0_SSID
		string "Network SSID"
	config NETWORK_0_PWD
		string "Network Password"

	config NETWORK_1_SSID
		string "Network SSID"
	config NETWORK_1_PWD
		string "Network Password"

	config NETWORK_2_SSID
		string "Network SSID"
	config NETWORK_2_PWD
		string "Network Password"

	config NETWORK_3_SSID
		string "Network SSID"
	config NETWORK_3_PWD
		string "Network Password"

	config NETWORK_4_SSID
		string "Network SSID"
	config NETWORK_4_PWD
		string "Network Password"

	config NETWORK_5_SSID
		string "Network SSID"
	config NETWORK_5_PWD
		string "Network Password"

	config NETWORK_6_SSID
		string "Network SSID"
	config NETWORK_6_PWD
		string "Network Password"

	config NETWORK_7_SSID
		string "Network SSID"
	config NETWORK_7_PWD
		string "Network Password"

	config NETWORK_8_SSID
		string "Network SSID"
	config NETWORK_8_PWD
		string "Network Password"

	config NETWORK_9_SSID
		string "Network SSID"
	config NETWORK_9_PWD
		string "Network Password"
endmenu
